<!--userとbookにviewから適切なインスタンス変数を渡す-->
<h1>User info</h1>
<%= image_tag user.get_profile_image(150,150) %>
<table>
  <tr><th>name</th><td><%= user.name %></td></tr>
  <tr><th>introduction</th><td><%= user.introduction %></td></tr>
</table>

<%= link_to 'Update User', edit_user_path(user.id) %>



<h1>New book</h1>
<%= form_with model: book, url: books_path, method: :post do |f| %>
<p>Title</p>
<%= f.text_field :title %>
<p>Opinion</p>
<%= f.text_area :body %>
<%= f.submit 'Create Book' %>
<%end%>
